/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.special-date{
    background-color: #04009A;
    border-radius: 50%;
    color:white;
}

.example-custom-date-class{
    background:#558776;
    border-radius: 50%;
}