<div class="jumbotron">
    <mat-toolbar color="primary">
        <span>Date</span>
    </mat-toolbar>
</div>


<div class="container">
    <mat-form-field appearance="outline" [formGroup]="select">
        <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="Start Date" formControlName="start"
                (dateInput)="changeDate1('input',$event)" (dateChange)="changeDate1('change',$event)">
            <input matEndDate placeholder="End Date" formControlName="end" (dateInput)="changeDate2('input',$event)"
                (dateChange)="changeDate2('change',$event)">
        </mat-date-range-input>

        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker touchUi #picker>
            <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>Cancel</button>
                <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
            </mat-datepicker-actions>
        </mat-date-range-picker>
    </mat-form-field>
</div>

<div class="container">
    <mat-form-field appearance="outline">
        <mat-label>Time</mat-label>
        <input matTimepicker mode="24h">
    </mat-form-field>
</div>

<div class="container">
    <mat-form-field appearance="outline" [formGroup]="custom">
        <mat-label>Start date</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="value1" (dateInput)="changeDate3('input',$event)"
            (dateChange)="changeDate3('change',$event)" [min]="first" [max]="last">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker1>
            <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>Cancel</button>
                <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
            </mat-datepicker-actions>
        </mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Start Time</mat-label>
        <input matTimepicker mode="24h">
    </mat-form-field>

    <mat-form-field appearance="outline" [formGroup]="custom">
        <mat-label>End date</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="value2" (dateInput)="changeDate4('input',$event)"
            (dateChange)="changeDate4('change',$event)" [min]="first" [max]="last">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker2>
            <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>Cancel</button>
                <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
            </mat-datepicker-actions>
        </mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>End Time</mat-label>
        <input matTimepicker mode="24h">
    </mat-form-field>
</div>



<div class="container">
    <mat-card class="demo-inline-calendar-card">
        <mat-calendar #calendar [minDate]="minDate" [maxDate]="maxDate" [selected]="this.sampleRange"
            [comparisonStart]="custom.get('value1')?.value" [comparisonEnd]="custom.get('value2')?.value">
        </mat-calendar>
    </mat-card>
</div>