.sample{
    border: 1px dashed black;
    margin:40px;
}

.demo-inline-calendar-card{
    width:80%;
    margin-left: 5rem;
}

.top{
    margin-top: 30px;
}

.mat-calendar-body-cell{
    background-color: yellowgreen;
}

.mat-card mat-focus-indicator{
    background-color: turquoise;
}

.bottom{
    padding-bottom: 100px;
}

#calendar{
    color:#B6C867;
}